<%- include ('../layout/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="form-container" style="margin: 50px auto;">
                <h2 class="text-center">Add a new address</h2>
                <br>
                <br>

                <form action="/addAddress" method="post">
                    <div class="row">
                        <div class="Address-input-item w-auto col-lg-12">
                            <label for="address-type" class="required">Address Type <span>*</span></label>
                            <select id="address-type" class="form-select" required name="addressType">
                                <option value="" disabled selected>Select address type</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                                <option value="temp">Temporary</option>
                            </select>
                        </div>
                        <hr style="visibility: hidden;">

                        <div class="Address-input-item col-lg-5">
                            <label for="display-number" class="required">Full name (First and Last name) <span>*</span></label>
                            <input type="text" id="display-mobile" class="form-control" name="name" />
                        </div>
                        <hr style="visibility: hidden;">
                        <div class="Address-input-item col-lg-5">
                            <label for="display-number" class="required">Mobile number <span>*</span></label>
                            <input type="text" id="display-mobile" class="form-control" name="mobile"/>
                        </div>
                        <hr style="visibility: hidden;">

                        <div class="Address-input-item col-lg-2">
                            <label for="email" class="required">House no <span>*</span></label>
                            <input type="text" id="email" class="form-control"  name="houseNo"/>
                        </div>

                        <div class="Address-input-item col-lg-4">
                            <label for="display-number" class="required">Area, Street, Sector, Village <span>*</span></label>
                            <input type="text" id="display-mobile" class="form-control" name="street" />
                        </div>
                        <hr style="visibility: hidden;">

                        <div class="Address-input-item col-lg-6">
                            <label for="email" class="required">Landmark <span>*</span></label>
                            <input placeholder="Eg: Near MIMS Hospital" type="text" id="email" class="form-control" name="landmark"/>
                        </div>
                        <hr style="visibility: hidden;">

                        <div class="Address-input-item col-lg-3">
                            <label for="display-number" class="required">Pincode <span>*</span></label>
                            <input placeholder="6 Digits PIN code" type="text" id="display-mobile" class="form-control" name="pincode" />
                        </div>

                        <div class="Address-input-item col-lg-4">
                            <label for="display-number" class="required">City <span>*</span></label>
                            <input type="text" id="display-mobile" class="form-control" name="city" />
                        </div>
                        <hr style="visibility: hidden;">

                        <div class="Address-input-item col-lg-4">
                            <label for="display-number" class="required">District <span>*</span></label>
                            <input type="text" id="display-mobile" class="form-control" name="district" />
                        </div>
                        <hr style="visibility: hidden;">

                        <div class="Address-input-item w-auto col-lg-12">
                            <label for="address-type" class="required">State <span>*</span></label>
                            <select id="address-type" class="form-select" required name="state">
                                <option value="kerala">Kerala</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="karnatak">karnataka</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Pune">Pune</option>
                            </select>
                        </div>
                     
                    </div>
                    <div class="text-center  login-register-btn">
                        <a href="/addAddress" ><button>Save Address</button></a>
                    </div>
                </form>
           
            </div>
        </div>
    </div>
</div>

<%- include ('../layout/footer') %>